.mainLayoutContainer {
  height: 100%;
  width: 100%;
  display: grid;
  background-color: #EEEDE7;

  &.authorized {
    grid-template-columns: 300px auto;

    @media (max-width: 800px) {
      grid-template-columns: auto;
    }
  }
}

.menuIcon {
  width: 30px;
  cursor: pointer;
  display: none;

  @media (max-width: 800px) {
    display: block;
  }
}

.header {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 24px;
  color: #7c857f;
}

.profileContainer {
  display: flex;
  align-items: center;
  
  @media (max-width: 800px) {
    display: none;
  }
}

.profileIcon {
  width: 15px;
}

.profileBlock {
  cursor: pointer;
  margin-left: 15px;
  display: flex;
  align-items: center;
  gap: 10px
}